body {
    font-family: 'Source Sans Pro', sans-serif;
    border: 20px solid #bdc3c7;
    padding: 20px;
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
}

.date {
    color: #3498db;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
}

.title {
    color: #2c3e50;
    font-weight: bold;
    font-size: 32px;
}


.quote {
    padding-left: 5px;
    border-left: 5px solid #bdc3c7;
}

hr {
	height: 20px;
    border: 0;
    margin-top: 30px;
    width: 90%;
    box-shadow: 0 10px 10px -10px #bdc3c7 inset;

}